<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Movies Reviewed</h1>
      <p>Cras lobortis dictum elit. Nam viverra feugiat interdum. Phasellus auctor fringilla risus. Pellentesque a orci iaculis, sodales lectus et, hendrerit odio. Integer nec condimentum mauris, sed sollicitudin ipsum. Nunc ut risus magna. Donec ultricies, neque sit amet dignissim auctor, nisi ipsum placerat felis, consectetur congue est augue ut ligula. Aliquam nec mauris quis magna pharetra pretium in nec odio.

</p>
<p><%= link_to "Sign up to Write a Review", new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
  </div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
    </div>
  </div>
  <% end %>
</div>
